body{
    background-color: black;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
li{
    list-style: none;
}
img{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 8em;
}

nav div ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-izquierda ul li {
    margin-left: 0;
    margin-right: 1.5em;
}

.nav-izquierda ul li:hover {
    color: #0070f3;
    transition: all 0.2s;
}

.nav-derecha ul li {
    margin-left: 1.5em;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.077);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
}

.nav-derecha ul li:hover{
    background-color: #0071f334;
    border: solid 1px #0070f3;
    transition: all 0.2s;
}
main{
    height: 700px;
    background-image: url(../img/montanas.jpeg) ;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
main h1{
    text-align: center;
    font-style: italic;
    font-size: 60px;
    font-weight: 300;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.contenedor div{
    margin: 3em 5em;
    display: flex;
    flex-direction: column;

}

.contenedor div span{
    line-height: 3em;
    font-weight: 250;
    font-size: .875em;
    color: rgba(255, 255, 255, 0.655);
}

.contenedor div span:hover{
    color: #0070f3;
    transition: all .2s;
}

.contenedor .negrita{
    color: white;
}

.contenedor .negrita:hover{
    color: white;
}
footer .sistema{
    font-weight: 400;
    font-size: .875em;
    color: #0070f3;
}

